* {
    background-color:aliceblue
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 10px solid yellow;
}

td, th {
    border: 1px solid #e23232;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#delete-button {
    border: 5px solid grey;
}